.BoutonPersonne {
    padding-right: 1%;
    padding-left: 1%;
    margin: 1%;
    background-color: #FFFFFF;
	border-radius: 4px;
	color: #368ABF;
}
.BoutonPersonne-active
{
	padding-right: 1%;
    padding-left: 1%;
    margin: 1%;
    background-color: #368ABF;
    color: #FFFFFF;
	border-radius: 4px;
}
.BoutonPersonne:hover
{
    background-color: #368ABF;
    color: #FFFFFF;
}